.main {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 7rem; */
}
